[submodule "42cursus-libft"]
	path = 42cursus-libft
	url = https://github.com/wengcychan/42cursus-libft.git
[submodule "42cursus-gnl"]
	path = 42cursus-gnl
	url = https://github.com/wengcychan/42cursus-gnl.git
