[submodule "42cursus-libft"]
	path = 42cursus-libft
	url = https://github.com/wengcychan/42cursus-libft.git
[submodule "42cursus-gnl"]
	path = 42cursus-gnl
	url = https://github.com/wengcychan/42cursus-gnl.git
[submodule "42cursus-ft_printf"]
	path = 42cursus-ft_printf
	url = https://github.com/wengcychan/42cursus-ft_printf.git
[submodule "42cursus-philo"]
	path = 42cursus-philo
	url = https://github.com/wengcychan/42cursus-philo.git
[submodule "42cursus-fdf"]
	path = 42cursus-fdf
	url = https://github.com/wengcychan/42cursus-fdf.git
[submodule "42cursus-push_swap"]
	path = 42cursus-push_swap
	url = https://github.com/wengcychan/42cursus-push_swap.git
[submodule "42cursus-miniRT"]
	path = 42cursus-miniRT
	url = https://github.com/wengcychan/42cursus-miniRT.git
[submodule "42cursus-minishell"]
	path = 42cursus-minishell
	url = https://github.com/wengcychan/42cursus-minishell.git
